.feedback-card{
    margin: 30px 0;
    padding: 10px;
    border-radius: 10px;

    transition: all ease-in 0.3s;
}

.feedback-card:hover{
    border: 1px solid #afafaf;
}

.feedback-card-title{
    margin-bottom: 0;
    font-size: larger;
}

.feedback-card-image{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.feedback-card-details{
    margin-left: 1rem;
}