.primary-button{
    background-image: linear-gradient( var(--secondary-color) 0%, #3341dd 100%);
    border-radius: 10px;
    padding: 10px 10px;
    min-width: 140px;
    border: none;
    font-weight: bold;
}

.primary-button:active{
    background-image: none;
    background-color: #2a38d6;
}