@font-face {
  font-family: 'Lovelo';
  src: url(/src/assets/Lovelo\ Black.otf);
}

:root {
  font-family: "DM Sans" !important;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #faf3ea !important;


  --primary-color: #ff6d1f;
  --light-color: #faf3ea;
  --dark-color: #222222;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
}

/* Flex */
.flex{
  display: flex;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-column{
  display: flex;
  flex-direction: column;
}


/* Color */
.bg-white{
  background-color: white;
}
p{
  margin: 0;
  padding: 0;
}
.m-0{
  margin: 0;
}

body {
  font-family: "DM Sans" !important;
}


